.figura{width: 15%;}

contentSecurityPolicy: {
  'default-src': "'none'",
  'script-src': "'self' 'unsafe-inline' 'unsafe-eval'",
  'font-src': "'self' https://fonts.gstatic.com",
  'connect-src': "'self'",
  'img-src': "'self'",
  'report-uri':"'localhost'",
  'style-src': "'self' 'unsafe-inline'",
  'frame-src': "'none'"
}


#titulo {
    border-radius: 1rem;
    background-color: yellowgreen;
    color: black;
    text-size-adjust: 50%;
    text-align: center;

}
#figuras  {
    text-align: center;
}
#prueba{
    text-align: center;
}
.result{
    border-radius: 1rem;
    background-color: yellow;
    text-size-adjust: 100%;
    color: black;
}

.btn { /*boton inicio*/
    width: 10rem; 
    height: 5rem;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: magenta;
    color: white;
}

.fondo {background: rgb(30, 30, 30);}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blanco{color: white;}
#cual{color: white;}
